/*! : root is a pseudo-class that targets the root element of the document(html element)  */
/* ?a global CSS variable name known as Arbitraty--bg-black-900 */
/* ?a higher number tends to represent a darker shade, while a lower number represents a lighter shade. */

/* for the font style */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    /** line height: the height of each line of text in an element*/
    /* ? the line height would be 24px (16px x 1.5), resulting in a comfortable and readable spacing between lines of text. */
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    /* *when you apply align-items: center to .aside, it tries to center the elements vertically, but since the .aside .logo is absolutely positioned, it's not considered in this calculation either. As a result, only the ul is centered vertically. */
    align-items: center;
    /*? The z-index property specifies the stack order of an element(which element should be placed in front of, or behind, the others). */
    /* ?An element can have a positive or negative stack order */
    z-index: 10;
}

/* .aside .logo {

    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
} */

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;

    /* ?The opacity property specifies the opacity/transparency of an element. */
    /* ?value from 0.0 - 1.0. The lower the value, the more transparent*/
    opacity: 1;
    /* to change the section position */
    /* position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden; */
}

/* 
.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
} */

/* to hide the page. use hidden as a class to hide the content  */
.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

/* ?check this class in the HTML */
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;

}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

/* ? The line on the about me */
.section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;

}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;

}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--skin-color);
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

/* Shadow gives a 3D effect on the box of education */
.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* !Aside Section */
.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 35px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;

}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;

}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;

}

/* !HOME SECTION */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    /* the element will maintain its 60% width(flex-basis), regardless of the container's size. If the container is larger or smaller, the element will not adjust its width to fit. */
    flex: 0 0 60%;
    max-width: 60%
}

h3.hello {
    font-size: 50px;
    /* was 40px */
    margin: 15px 0;
}

h3.hello span {
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    /* was 30px */
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    /* was 30px */
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 30px;
    /* margin bottom was 70px */
    font-size: 18px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

}

/* ? for the box around the image */
/* .home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;

    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
} */

.home .home-img img {
    margin: auto;
    /* border-radius:px; */
    border: 3px solid var(--skin-color);
    height: 300px;
    margin-top: 25px;
}

/* About Me */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;


}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .codingimage img {
    height: 300px;
}

.about .about-content .about-text p {

    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);

}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-items {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-items p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-items p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;

}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;

    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;

}

/* the below line show the percentage of the course */
.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skills-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

/* 1:17:45 mintues */
.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;


}


.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);

}

.about .about-content .timeline-box {

    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;

}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

/* red line on the left of Education */
.about .about-content .timeline .timeline-item::before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

/* red dots on the left red line of the eductaion details */
.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}


/*todo:  Skills inlcuding ICONS and SOFTSKILLS */
/* !IMPORTANT */

#skills-section\ padd-15 {
    margin-top: 100px;
    padding-top: 30px;
}

#skills-section .skill-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#skills-section .skill-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8,
#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4,
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

#skills-section\ padd-15>div>div>div>div {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}


#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12 {
    flex: 0 0 50%;
    max-width: 50%;
}

#skills-section .skill-container .col-8 {
    /* flex: 0 0 66.666667%;
    max-width: 66.666667%; */
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

#skills-section .skill-container .col-4 {
    /* flex: 0 0 33.333333%;
    max-width: 33.333333%; */
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

#skills-section .skill-container .col-12 {
    /* flex: 0 0 100%;
    max-width: 100%; */
    flex: 0 0 50%;
    max-width: 50%;
}

#skills-section .css-2qfv45 {
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: animation-2txazo;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

/* h1 and P */
#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8>h1 {
    font-size: 60px;
    color: var(--text-black-900);
    margin-top: 15px;
}

/* Only P */
#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8>h1>p {
    color: var(--skin-color);
}

/* Section-Title where skills explained */
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2)>div>div {
    color: var(--text-black-900);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3)>div>div {
    color: var(--text-black-900);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4)>div>div {
    color: var(--text-black-900);
}

/* section-content under the section title */
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2)>div>p {
    color: var(--text-black-700);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3)>div>p {
    color: var(--text-black-700);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4)>div>p {
    color: var(--text-black-700);
}

/* P */
#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8>h1>p {
    margin-top: 0;
    margin-bottom: 1rem;

}

/* Image Selection */
#skills-section\ padd-15>div>div>div>div>div.col-lg-4.col-8>img {
    vertical-align: middle;
    overflow: hidden;
}

/* button */
#skills-section\ padd-15 .skill-container .col-lg-2 .nbcard button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    cursor: pointer;
}

/* nbcard */
#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div {
    background-color: initial;
    padding: 10px;
    border: none;
}

/* nbcard.button */
#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    #skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns {
        transition: none;
    }
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns:hover {
    color: #212529;
    text-decoration: none;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns:disabled {
    opacity: 0.65;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btns:not(:disabled):not(.disabled) {
    cursor: pointer;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btn-outline-dark:hover {
    color: #fff;
    background-color: var(--skin-color);
    border-color: var(--bg-black-50);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.btn-outline-dark:disabled {
    color: #343a40;
    background-color: initial;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div {
    /* background-color: #fff; */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
    margin-top: 4rem;
}

/* each button */
#skills-section\ padd-15>div>div>div>div>div.col-lg-2.col-4>div button.skills-btn {

    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    border-width: 1px;
    color: #8e8d8a;
}

/* The programming language */
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2) {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--skin-color);
    transition: transform .3s cubic-bezier(.155, 1.105, .295, 1.12), box-shadow .3s, -webkit-transform .3s cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2):hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2)>div {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2)>div>div {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(2)>div>p {
    margin-top: 0;
    margin-bottom: 0;
}

/* technologies */
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3) {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--skin-color);
    transition: transform .3s cubic-bezier(.155, 1.105, .295, 1.12), box-shadow .3s, -webkit-transform .3s cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3):hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3)>div {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3)>div>div {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(3)>div>p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Soft skills */
#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4) {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--skin-color);
    transition: transform .3s cubic-bezier(.155, 1.105, .295, 1.12), box-shadow .3s, -webkit-transform .3s cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4):hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4)>div {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4)>div>div {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

#skills-section\ padd-15>div>div>div>div>div.col-lg-6.col-12>div:nth-child(4)>div>p {
    margin-top: 0;
    margin-bottom: 0;
}















/* Service */
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease-in;
}

/* hover for icons */
.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;

}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* Portfolio */
.portfolio .container {
    padding-bottom: 40px;
}

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;

}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;

}

.portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}


.portfolio .portfolio-item-inner {

    border: 4px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    /* help keep the content inside the desire width */
    cursor: pointer;
    padding: 25px;
}



.portfolio .portfolio-item-inner .porfolio-img img {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 10px;
}

.portfolio .portfolio-item-inner .porfolio-img .project-info {
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

.portfolio .portfolio-item-inner .porfolio-img .project-info h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-black-900);
}

.portfolio .portfolio-item-inner .porfolio-img .project-info p {
    font-size: 14px;
    color: var(--text-black-700);
}

.portfolio .portfolio-item-inner .porfolio-img .project-info .project-link {
    margin-top: 15px;
}




/* Contact Me*/
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;

}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    font-size: 14px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
    padding-left: 10px;
}

.contact .contact-form .form-item #msg {
    padding-top: 12px;
    height: 140px;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

/* Responsiveness check */
/* max width =< 1199px this CSS rule will be applied  */
@media(max-width:1199px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0px;
    }

    .section.open {
        left: 270px;
    }

    .about .about-content .personal-info .info-items p span {
        display: block;
        margin-left: 0;
    }
}

@media(max-width:1053px) {
    .home-img::before {
        display: none;
    }

    .home-img::after {
        display: none;
    }
}

@media(max-width:991px) {

    /* by adding comma you can concatnate two css together */

    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }


    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media(max-width:767px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .service .service-item,
    .portfolio .portfolio-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-item-inner .porfolio-img img {
        height: 400px;
    }
}

/* Style Switcher */
.style-switcher {

    position: fixed;
    right: 0;
    right: 60px;
    padding: 15px;
    width: 200px;
}